<template>
  <div class="{{dashCase name}}"></div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';

@Options({
  props: {},
})
export default class {{pascalCase name}} extends Vue {}
</script>

<style scoped lang="scss" src="./styles.scss"></style>
